cloudflare_api_token = "<CLOUDFLARE API TOKEN>"
tfe_token            = "<TFE_TOKEN>"
newrelic_account_id  = "<NEW_RELIC_ACCOUNT_ID>"
newrelic_api_key     = "<NEW_RELIC_API_KEY>"
newrelic_region      = "<NEW_RELIC_REGION>"

admin_gmail_address                   = "<ADMIN GMAIL ADDRESS>"
idp_google_client_id                  = "<GOOGLE CLIENT ID>"
idp_google_client_secret              = "<GOOGLE CLIENT SECRET>"
tf_cloud_slack_webhook_url            = "<SLACK_WEBHOOK_URL>"
cf_slack_general_webhook_url          = "<SLACK_WEBHOOK_URL>"
cf_slack_general_webhook_secret       = "<SLACK_WEBHOOK_SECRET>"
cf_slack_tunnel_webhook_url           = "<SLACK_WEBHOOK_URL>"
cf_slack_tunnel_webhook_secret        = "<SLACK_WEBHOOK_SECRET>"
cf_slack_status_webhook_url           = "<SLACK_WEBHOOK_URL>"
cf_slack_status_webhook_secret        = "<SLACK_WEBHOOK_SECRET>"
cf_slack_pages_prod_webhook_url       = "<SLACK_WEBHOOK_URL>"
cf_slack_pages_prod_webhook_secret    = "<SLACK_WEBHOOK_SECRET>"
cf_slack_pages_preview_webhook_url    = "<SLACK_WEBHOOK_URL>"
cf_slack_pages_preview_webhook_secret = "<SLACK_WEBHOOK_SECRET>"
